<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Shrimp Database</title>
</head>

<body>
    <a href="{% url 'add_data' %}">Add measurements</a><br>
    <a href="{% url 'parameters' %}">View parameters</a><br>
    <a href="{% url 'random' %}">Random shrimp </a><br>
    <a href="/admin/">Admin login</a>

    <h1>Welcome to the aquarium database</h1>
    <p>Click the links above to add measurements from your water testing kit, view past parameters (and download them!) or log into admin view.</p>
    <p>I love my shrimp and hate HTML.</p>
</body>
</html>
